<head>
    <title>DETAIL</title>
</head>

<body>
    <div>
        <br>
        <h2 align="center">{{review.title}}</h2>
        <hr>
        <p align="right">
            <a href="{% url 'edit' review.id %}">수정</a>
            <a href="{% url 'delete' review.id %}">삭제</a>
            <a href="{% url 'home' %}">HOME</a>
        </p>
        <hr>
        <br>
        <p align="center">{{review.text}}</p> 
        <hr>
    </div>
    {% if review.comments.count %}
    <p>댓글 {{ review.comments.count }}개</p>
    {% endif %}
    <div class="form-group">
        <h5>댓글작성</h5>
        <form method="POST" action="{% url 'add_comment' review.id %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">작성</button>
        </form>
    </div>

    {% for comment in review.comments.all %}
    <div>
        <div>{{ comment.created_date }}</div>
        <strong>{{ comment.nickname }}</strong>
        {{ comment.text|linebreaks }}
        <a href="{% url 'delete_comment' comment_id=comment.id %}">댓글 삭제</a>
    </div>
    {% empty %}
    <p>댓글이 없습니다.</p>
    {% endfor %}
</body>